html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input[type=submit],input[type=button],button{margin:0!important;padding:0!important;}input,select,a img{vertical-align:middle;}
/*Basic*/
*{
	font-family: 'Indie Flower', cursive;
}

html,body{
	height: 100%;
	width: 100%;  
}

html{
	overflow-x:hidden;
}

#bar{
	position: fixed;	
	width: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.5);	
	color: white;	
	z-index: 5;	
}

.slide{
	height:100%;
	background-size: cover;	
	background-repeat: no-repeat;
	position: relative;
	box-shadow: 0px 5px 7px #000 inset;		
}

.help{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

#s2{
	background-color: #0BDA51;
}

.main{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	box-shadow: 3px 3px 10px #000;
}

p{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

#s3{
	background-color: #007FFF;	
}

#s4{
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;	
	box-shadow: 0px 5px 7px #000 inset;
}

#s5{
	background-color:#9932CC;
}

#s6{
	background-color:#FF1493;
}
#s7{
	background-color:#ff4c4c;
}

#s8{
	background-repeat: no-repeat;	
	box-shadow: 0px 5px 7px #000 inset;
	height: 100%;
}

#s9{
	background-color: #007FFF;
}

#s10{
	background-repeat: no-repeat;	
	box-shadow: 0px 5px 7px #000 inset;
	height: 100%;
}

#s11{
	background-color: #9932CC;
}

#s12{
	background-color: rgba(222,100,230,.7);
	text-align: center;
}

#s12 p{
	top:45%;
}

#s13{
	background-repeat: no-repeat;	
	box-shadow: 0px 5px 7px #000 inset;
	height: 100%;
}

#s14{
	background-color: #00FF4C;
}


@media screen and (min-width: 800px) {
/*Classes,Single Elements*/

#bar{
	height:5%;
	font-size:1.5em;
}

.slide{	
	background-attachment: fixed;	
}

/*Slide 1*/
#s1{
	background-image: url(../images/b1.jpg);
}

/*Slide 2*/
#s2 .main{
	width:30%;
}


#s2 p{
	font-size: 30px;
	left:75%;
}

/*Slide 3*/
#s3 .main{
	width:30%;
	left:70%;
}

#s3 p{
	font-size: 30px;
	left: -45%;	
}

#s3 .bal1{
	position: absolute;
	height: 100px;
	z-index: 1;
	top: 550px;
	left: 450px;	
}

/*Slide 4*/
#s4{
	height: 60%;
	background-image: url(../images/dogs.jpg);	
}

/*Slide 5*/
#s5 .main{
	width:30%;
	z-index: 2;
	left:75%;
}

#s5 p{
	font-size: 30px;
	left:-45%;
}

#s5 .bal2{
	position: absolute;
	height: 150px;
	z-index: 1;
	top: 550px;
	left: 100px;	
}

/*Slide 6*/
#s6 .main{
	width: 30%;
	left: -10%;
}

#s6 p{
	font-size: 30px;
	left:75%;
}
/*Slide 7*/
#s7 .main{
	width: 23%;
	left: 80%;
}
#s7 p{
	font-size: 30px;
	left:-35%;
}
/*Slide 8*/
#s8{
	background-image: url(../images/dogs2.jpg);	
	background-size: 115%;
	background-position: bottom;
}

#s9 .main{
	width:18%;
	left: 80%;
}
#s9 p{
	font-size: 30px;
	left:-35%;
}

#s10{
	background-image: url(../images/cat.jpg);
	height: 75%;
}

#s11 .main{
	width:40%;
	left: 53%;
}
#s11 p{
	font-size: 30px;
	left:-30%;
}


#s12 p{
	font-size: 50px;
} 


#s13{
	background-image: url(../images/dogs3.jpg);
	height: 75%;
	background-position: 0px -30px
}

#s14 .main{
	width:23%;
	left: 10%;
}
#s14 p{
	font-size: 30px;
	left:40%;
}


}


@media screen and (max-width: 800px) {

#bar{
	height:25px;
	font-size:20px;
}

/*Slide 1*/
#s1{
	background-image: url(../images/m.b1.jpg);
}

/*Slide 2*/
#s2 .main{
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
	width:40%;
	left:5%;
}

#s2 p{
	font-size: 18px;
	left:10%;
}

/*Slide 3*/
#s3 .main{
	-ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
	width:40%;
	left:50%;
}

#s3 p{
	font-size: 18px;
	left:-30%;	
}

#s3 .bal1{
        display:none;
}
/*Slide 4*/
#s4{
	height: 100%;
	background-position: 0px -50px;
	background-image: url(../images/m.dogs.jpg);	
}

/*Slide 5*/
#s5 .main{
	width:40%;
	left:5%;
	-ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
}

#s5 p{
	font-size: 18px;
	left:15%;
}

#s5 .bal2{
        display:none;
}

/*Slide 6*/
#s6 .main{
	width:40%;
	left:50%;
	-ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
}


#s6 p{
	font-size: 18px;
	left:-30%;
}
/*Slide 7*/
#s7 .main{
	-ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
	width:30%;
	left:10%;
}

#s7 p{
	font-size: 18px;
	left:20%;
}

/*Slide 8*/
#s8{
	background-image: url(../images/m.dogs2.jpg);		
	background-size: cover;
	position: relative;
}

#s9 .main{
	-ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
	width:27%;
	left:60%;
}

#s9 p{
	font-size: 18px;
	left:-10%;
}

#s10 {
	background-image: url(../images/m.cat.jpg);
	background-size: cover;
	position: relative;
}

#s11 .main{
	-ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
	width:45%;
	left:50%;
}

#s11 p{
	font-size: 18px;
	left:-40%;
}

#s12 p{
	font-size: 25px;
} 

#s13{
	background-image: url(../images/m.dogs3.jpg);
	background-size: cover;
	position: relative;
}

#s14 .main{
	-ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
	width:27%;
	left:10%;
}

#s14 p{
	font-size: 18px;
	left:27%;
}

}

p:nth-child(3){
	-webkit-filter: drop-shadow(7px 7px 3px rgba(0,0,0,1));
	filter:url(../images/1.svg#drop-shadow);
}

img:nth-child(4){	
	-webkit-filter: drop-shadow(12px 12px 3px rgba(0,0,0,0.5));
	filter:url(../images/1.svg#drop-shadow);
}
